@model CarManagement.Models.Car

@{
    ViewData["Title"] = "Car Detail";
}

<h4>Car Detail</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.szCarId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.szCarId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.szCarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.szCarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.szCarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.szCarModel)
        </dd>
    </dl>
</div>
<div>
    <input type="button" value="Back" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Car") + "'");" />
    <input type="button" value="Edit" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("Edit", "Car", new { szCarId = Model.szCarId}) + "'");" />
</div>
