@model CarManagement.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.szCarName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.szCarName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.szCarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.szCarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtmCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtmCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtmUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtmUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.szCarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
